<p id="notice"><%= notice %></p>

<p>
  <b>Original:</b>
  <%= link_to @url.original, @url.original %>
</p>

<p>
  <b>Shortened:</b>
  <%= link_to @url.shortened, @url.original, class: 'shortened' %>
</p>


<%= link_to 'Shorten another one', new_url_path %>
